.container {
  display: grid;
  grid-template-columns: repeat(1, 35rem 15rem 15rem);
  grid-template-rows: repeat(2, 35rem 35rem 35rem);
}

.main {
  grid-column: 2 / 12;
  grid-row: 1/ 5;
}

.footer {
  grid-row: 5 / span 9;
  grid-column: 2 / span 10;
}
